<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page Not Found | Bonita REST Documentation</title>
    <link rel="icon" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta description="Bonita provides REST API’s to interact with the Runtime. Learn how to use them here">
    <meta name="keywords" content="REST, API, Bonita, BPM, OpenApi, Postman, Swagger, Documentation">
    <meta name="author" content="Bonitasoft">
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="header">
    <a href="{{siteUrl}}">
        <img src="/images/bonitasoft-logo.svg" alt="Bonita API" class="bonita-logo">
    </a>
</div>

<div style="width: 80%; margin: auto">
    <div class="pagenotfound">
        <img src="/images/404-error-bonita-flavor.png" alt="404 drawing"
             style="height: 300px">
        <p>OOPS, LOOKS LIKE THE PAGE CANNOT BE FOUND...</p>
    </div>
    <div class="paragraph">
        <p>If you arrived at this page by clicking on a link, please notify the owner of
            the site that the link is broken.<br>
            If you typed the URL of this page manually, please double-check that you
            entered the address correctly.</p>
        <h2>Available documentations</h2>
        <ul>
            {{#each releases}}
                <li>Version <a href="{{../siteUrl}}/{{this}}/">{{this}}</a></li>
            {{/each}}
        </ul>
    </div>

</div>
{{#if ga_key}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ga_key}}"></script>
    <script>
        function gtag() {
            dataLayer.push(arguments)
        };
        window.dataLayer = window.dataLayer || [];
        gtag('js', new Date());
        gtag('config', '{{ga_key}}')
    </script>
{{/if}}
{{#if watch}}
    <!-- Script for livereload -->
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
                ':{{liveReloadPort}}/livereload.js?snipver=1"></' + 'script>')
    </script>
{{/if}}
</body>
</html>
